<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
	    <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<typeAliases>
	    <!-- 起别名，默认是包名 -->
	    <package name="cn.tedu.nybike.po"/>
	</typeAliases>
	<!-- 此标签的位置必须写在 <typeAliases>之后-->
	<plugins>
	    <plugin interceptor="com.github.pagehelper.PageInterceptor">
	        <property name="reasonable" value="true"/>
	    </plugin>
	</plugins>
</configuration>