<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>nybike</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>cn.tedu.nybike.listener.SCListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>StationInfoServlet</display-name>
    <servlet-name>StationInfoServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.StationInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationInfoServlet</servlet-name>
    <url-pattern>/station_info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StationStatusServlet</display-name>
    <servlet-name>StationStatusServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.StationStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StationStatusServlet</servlet-name>
    <url-pattern>/station_status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenderCountServlet</display-name>
    <servlet-name>GenderCountServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.GenderCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenderCountServlet</servlet-name>
    <url-pattern>/gender_count</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AgeStageCountServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.AgeStageCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgeStageCountServlet</servlet-name>
    <url-pattern>/AgeStageCountServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserTypeCountServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.UserTypeCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypeCountServlet</servlet-name>
    <url-pattern>/UserTypeCountServlet</url-pattern>
  </servlet-mapping>



  <servlet>
    <servlet-name>DurationCountServlet</servlet-name>
    <servlet-class>cn.tedu.nybike.web.DurationCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DurationCountServlet</servlet-name>
    <url-pattern>/DurationCountServlet</url-pattern>
  </servlet-mapping>











    <servlet>
        <description></description>
        <display-name>BrokenBikeServlet</display-name>
        <servlet-name>BrokenBikeServlet</servlet-name>
        <servlet-class>cn.tedu.nybike.web.BrokenBikeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrokenBikeServlet</servlet-name>
        <url-pattern>/brokenbike_servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>GenderAvgTimeServlet</display-name>
        <servlet-name>GenderAvgTimeServlet</servlet-name>
        <servlet-class>cn.tedu.nybike.web.GenderAvgTimeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenderAvgTimeServlet</servlet-name>
        <url-pattern>/genderavgtime_servlet</url-pattern>
    </servlet-mapping>
</web-app>